/ {
	aliases {
		red-led = &led_r;
		green-led = &led_g;
		blue-led = &led_b;
	};

	chosen {
		zephyr,console = &cdc_acm_uart0;
        zephyr,bt-hci = &bt_hci_ipc0;
	};

	ramdisk0 {
		compatible = "zephyr,ram-disk";
		disk-name = "RAM";
		sector-size = <512>;
		sector-count = <192>;
	};

    leds {
		compatible = "gpio-leds";

		led_r: led_r {
			gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};

		led_g: led_g {
			gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};

		led_b: led_b {
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};
};

&vregmain {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregradio {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregh {
	status = "disabled";
};

&lfxo {
	load-capacitors = "internal";
	load-capacitance-picofarad = <7>;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&nfct {
    status = "disabled";
};

&uicr {
	nfct-pins-as-gpios;
};
